body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.content {
  display: flex;
}

.left-content {
  background-image: url("./assets/astralsea.jpg");
  background-position: -400px;
  background-size: cover;
  height: 100vh;
  text-align: center;
  width: 40vw;
}

.banner {
  background-color: rgba(0, 0, 0, 75%);
  font-family: "Germania One", cursive;
  font-size: 1.875rem;
  margin-top: 20vh;
  padding: 1rem;
  word-wrap: break-word;
}

.banner img {
  height: 100px;
  padding-right: 1rem;
  vertical-align: middle;
  width: auto;
}

.credit {
  bottom: 0;
  position: fixed;
  width: 32vw;
}

.right-content{
  display: flex;
  font-size: 1.5rem;
  flex-flow: column nowrap;
  justify-content: center;
}